<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/AutoPackageScriptDemo.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.shixueqian.02</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: shixueqian12345@163.com (6HBARX34Q2)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-12-27T12:54:32Z</date>
	<key>Name</key>
	<string>AutoPackageScriptDemo</string>
	<key>SchemeName</key>
	<string>AutoPackageScriptDemo</string>
</dict>
</plist>
